@font-face {
	font-family: smooth;
	font-weight: normal;
	src: url('fonts/Normal.woff') format('WOFF');
}
@font-face {
	font-family: smooth;
	font-weight: bold;
	src: url('fonts/Bold.woff') format('WOFF');
}

#menu {
	width: 100%;
	height: 200px;
	z-index: 999;
	position: fixed;
	background-color: rgba(5,5,5,0.3)
}

#profile {
	width: auto;
	margin-left: 20px;
	margin-top: 20px
}

@keyframes avatarFloat {
	from {
		transform: translateY(1px)
	}
	to {
		transform: translateY(-10px)
	}
}

#avatar {
	width: 90px;
	animation-name: avatarFloat;
	animation-duration: 4s;
	animation-direction: reverse;
	animation-iteration-count: infinite;
}

#milim-name {
	font-family: smooth;
	font-size: 40px;
	color: #e36c5f;
	text-shadow: 0px 0px 4px #ff8c80;
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
	vertical-align: middle;
}

button,
button:focus {
	border: none;
	outline: none
}

#main-buttons {
	height: 40px;
	width: 180px;
	border-radius: 10px
}
