@font-face {
	font-family: smooth;
	font-weight: normal;
	src: url('fonts/Normal.woff') format('WOFF');
}
@font-face {
	font-family: smooth;
	font-weight: bold;
	src: url('fonts/Bold.woff') format('WOFF');
}

#menu {
	left: 0;
	right: 0;
	height: 190px;
	border-bottom: solid 10px rgba(20,20,20,0.3);
	transition: height 0.5s;
	z-index: 1;
	background-color: rgba(5,5,5,0.3);
	position: fixed;
	top: 0;
	overflow: hidden
}

#desc {
	font-family: sans-serif;
	color: rgb(240,240,240);
	padding-left: 132px;
	width: 450px
}

.menu-shrink {
	height: 125px !important;
	transition: height 0.5s
}

#milim-profile {
	width: 350px;
	padding-top: 20px;
	margin-left: 20px;
	position: relative;
}

@keyframes avatarFloat {
	from {
		transform: translateY(1px)
	}
	to {
		transform: translateY(-5px)
	}
}

#avatar {
	width: 90px;
	animation: avatarFloat 4s alternate infinite ease-in-out;
	border-radius: 50%;
}

#milim-name {
	font-family: smooth;
	font-size: 40px;
	color: #e36c5f;
	text-shadow: 0px 0px 4px #ff8c80;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	position: absolute;
	margin-top: 28px;
	margin-left: 20px;
}

button,
button:focus {
	border: none;
	outline: none
}

#main-buttons-box {
	width: 100%;
	height: 500px;
	position: absolute;
	display: flex;
	justify-content: center;
}

.button-overlay {
	width: 180px;
	height: 40px;
	border-radius: 10px;
	position: absolute;
	cursor: pointer;
}

.btn-1-main {
	bottom: 50px;
}
#btn-1 {
	background-color: #e6456f;
	z-index: -1
}

.btn-2-main {
	bottom: 120px;
	left: 100px
}
#btn-2 {
	background-color: #7289da;
	z-index: -1
}

.btn-3-main {
	bottom: 120px;
	right: 100px
}
#btn-3 {
	background-color: #969696;
	z-index: -1
}

.main-button-hover {
	background-color: #e36c5f !important;
	color: white;
	transform: translateY(-1.5px) !important;
}

.main-button {
	transition: 0.5s !important;
	height: 40px;
	width: 180px;
	border-radius: 10px;
	font-family: sans-serif;
	font-size: 17px;
	color: rgba(230,230,230);
	position: absolute;
}

#invite-container {
	width: 100%;
	height: 1200px;
	background-color: rgba(5,5,5,0.3);
	margin-top: 250px;
	position: absolute;
	display: flex;
	overflow: hidden;
	justify-content: center;
}

#invite-bubble {
	background-color: rgba(130, 130, 180, 0.5);
	display: flex;
	margin-top: 80px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 170px;
	height: 170px;
	transition: background-color 0.3s, box-shadow 0.3s;
	transform: matrix3d(
		1, 0, 0, 0,
		0, 1, 0, 0,
		0, 0, 1, 0,
		0, 0, 0, 1
	)
}

#inv {
	width: 170px;
	height: 170px;
	position: fixed;
	cursor: pointer;
	border-radius: 50%
}

.ring {
	position: fixed; /*Something wrong here cuz of that random hover appearance*/
	border-radius: 50%;
	transition: 0.3s;
}

@keyframes ringRotate {
	from {
		transform: rotateZ(0deg)
	}
	to {
		transform: rotateZ(360deg)
	}
}

#ring-1 {
	width: 190px;
	height: 190px;
	border: 3px solid rgba(130, 130, 180, 0.5)
}

#ring-2 {
	width: 220px;
	height: 220px;
	border: 2px dotted rgba(170, 170, 220, 0.4);
	animation: ringRotate 40s infinite linear
}

#ring-3 {
	width: 240px;
	height: 240px;
	border: 1px dashed rgba(230, 230, 255, 0.35);
	animation: ringRotate 40s infinite linear
}

.image-box {
	position: absolute;
	z-index: -2
}

.image {
	width: 450px
}

@keyframes image1 {
	to {
		transform: matrix3d(
			1, 0, 0, 0,
			0.1, 1, 0, 0,
			0, 0, 1, 0,
			5, 10, 0, 1
		)
	}
}
@keyframes image2 {
	to {
		transform: matrix3d(
			1, 0, 0, 0,
			-0.1, 1, 0, 0,
			0, 0, 1, 0,
			-5, 10, 0, 1
		)
	}
}
@keyframes image3 {
	to {
		transform: matrix3d(
			1, 0, 0, 0.001,
			-0.05, 1, 0, 0,
			0, 0, 1, 0,
			0, 10, 0, 1
		)
	}
}
@keyframes image4 {
	to {
		transform: matrix3d(
			1, 0, 0, -0.0001,
			0.05, 1, 0, 0,
			0, 0, 1, 0,
			0, 10, 0, 1
		)
	}
}
@keyframes image5 {
	to {
		transform: matrix3d(
			1, 0.01, 0, -0.0001,
			0.1, 1, 0, 0,
			0, 0, 1, 0,
			0, 10, 0, 1
		)
	}
}
@keyframes image6 {
	to {
		transform: matrix3d(
			1, -0.1, 0, 0.0002,
			0.1, 1, 0, 0,
			0, 0, 1, 0,
			0, 10, 0, 1
		)
	}
}
@keyframes image7 {
	to {
		transform: matrix3d(
			1, 0.1, 0, 0.0001,
			-0.1, 1, 0, 0,
			0, 0, 1, 0,
			0, 10, 0, 1
		)
	}
}
@keyframes image8 {
	to {
		transform: matrix3d(
			1, 0.1, 0, 0.000015,
			0.1, 1, 0, 0,
			0, 0, 1, 0,
			0, 10, 0, 1
		)
	}
}
@keyframes image9 {
	to {
		transform: matrix3d(
			1, -0.1, 0, -0.00001,
			-0.01, 1, 0, 0,
			0, 0, 1, 0,
			0, 10, 0, 1
		)
	}
}
@keyframes image10 {
	to {
		transform: matrix3d(
			1, 0.1, 0, 0.00001,
			-0.01, 1, 0, 0,
			0, 0, 1, 0,
			0, 10, 0, 1
		)
	}
}
@keyframes image11 {
	to {
		transform: matrix3d(
			1, -0.1, 0, -0.000015,
			0.01, 1, 0, 0,
			0, 0, 1, 0,
			0, 10, 0, 1
		)
	}
}
@keyframes image12 {
	to {
		transform: matrix3d(
			1, 0.1, 0, 0.00001,
			0.01, 1, 0, 0,
			0, 0, 1, 0,
			0, 10, 0, 1
		)
	}
}

#image-1-box {
	left: 0;
	margin-top: 300px;
	margin-left: 5%;
	animation: image1 5s infinite alternate ease-in-out
}
#image-1 {
	clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 80% 0%);
	transition: transform 2s;
}
#image-2-box {
	right: 0;
	margin-top: 320px;
	margin-right: 5%;
	animation: image2 4.5s infinite alternate ease-in-out
}
#image-2 {
	clip-path: polygon(0% 0%, 50% 100%, 100% 100%, 100% 0%);
	transition: transform 2s;
}
#image-3-box {
	right: 0;
	margin-top: 400px;
	margin-right: 25%;
	animation: image3 4s infinite alternate ease-in-out
}
#image-3 {
	clip-path: polygon(70% 0%, 20% 100%, 97% 100%, 70% 0%);
	transition: transform 1s;
}
#image-4-box {
	left: 0;
	margin-top: 480px;
	margin-left: 10%;
	animation: image4 5.5s infinite alternate ease-in-out
}
#image-4 {
	clip-path: polygon(5% 5%, 0% 100%, 30% 100%, 100% 40%, 100% 40%);
	transition: transform 2s;
}
#image-5-box {
	left: 0;
	margin-top: 350px;
	margin-left: 20%;
	animation: image5 4s infinite alternate ease-in-out
}
#image-5 {
	clip-path: polygon(80% 100%, 50% 100%, 0% 90%, 30% 0%, 70% 0%);
	transition: transform 1.5s;
}
#image-6-box {
	left: 0;
	margin-top: 680px;
	margin-left: 23%;
	animation: image6 6s infinite alternate ease-in-out
}
#image-6 {
	clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 60% 0%);
	transition: transform 2s;
}
#image-7-box {
	right: 0;
	margin-top: 730px;
	margin-right: 18%;
	animation: image7 5s infinite alternate ease-in-out
}
#image-7 {
	clip-path: polygon(0% 10%, 15% 100%, 100% 100%, 60% 0%);
	transition: transform 2.5s;
}
#image-8-box {
	left: 0;
	margin-top: 850px;
	margin-left: 3%;
	animation: image8 6s infinite alternate ease-in-out
}
#image-8 {
	clip-path: polygon(10% 0%, 0% 100%, 60% 100%, 50% 0%);
	transition: transform 2s;
}
#image-9-box {
	overflow: hidden;
	left: 0;
	margin-bottom: -1050px;
	bottom: 0;
	margin-left: 0%;
	animation: image9 6s infinite alternate ease-in-out;
}
#image-9 {
	width: 400px;
	height: auto;
	clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 95% 0%);
	transition: transform 3s;
}
#image-10-box {
	overflow: hidden;
	left: 0;
	margin-bottom: -1100px;
	bottom: 0;
	margin-left: 20%;
	animation: image10 6s infinite alternate ease-in-out;
}
#image-10 {
	width: 400px;
	height: auto;
	clip-path: polygon(30% 0%, 0% 100%, 100% 100%, 90% 5%);
	transition: transform 3s;
}
#image-11-box {
	overflow: hidden;
	left: 0;
	margin-bottom: -950px;
	bottom: 0;
	margin-left: 46%;
	animation: image11 6s infinite alternate ease-in-out;
}
#image-11 {
	width: 400px;
	height: auto;
	clip-path: polygon(5% 10%, 10% 100%, 100% 100%, 95% 0%);
	transition: transform 2s;
}
#image-12-box {
	overflow: hidden;
	right: 0;
	margin-bottom: -980px;
	bottom: 0;
	margin-right: 0%;
	animation: image12 6s infinite alternate ease-in-out;
}
#image-12 {
	width: 400px;
	height: auto;
	clip-path: polygon(0% 10%, 15% 100%, 100% 100%, 100% 0%);
	transition: transform 3s;
}

#footer {
	left: 0;
	right: 0;
	height: 80px;
	bottom: 0;
	position: fixed;
	background-color: rgba(5,5,5,0.2);
	overflow: hidden;
	transition: height 0.3s;
}

.footer-shrink {
	height: 0 !important;
}

#love {
	font-family: sans-serif;
	color: rgb(200,200,200);
	height: 10px;
	justify-content: center;
	display: flex;
	margin-bottom: 0;
}

#possible-of {
	color: rgb(200,200,200);
	font-family: sans-serif;
	font-size: 16px;
	text-align: right;
	align-items: center;
}

.badge {
	margin-left: auto;
	margin-right: 5px;
	display: block;
	float: right;
	cursor: pointer;
}
.badge:hover {
	fill: rgb(220,220,220)
}

#widget {
	right: 0;
	position: fixed;
	margin-top: 225px;
	transition: transform 0.5s
}

#widget-arrow-box {
	height: 50px;
	width: 25px;
	position: fixed;
	background-color: rgb(32, 34, 37);
	margin-top: 175px;
	margin-left: -25px;
	border-radius: 50% 0% 0% 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#widget-arrow {
	height: 40px;
	align: center;
	transition: fill 0.5s, transform 0.5s;
	cursor: pointer;
}
#widget-arrow:hover {
	fill: rgba(255,255,255,0.7)
}
.widget-close {
	transform: translateX(300px);
}

#overlay {
	width: 100%;
	height: 100%;
	z-index: 10;
	font-family: sans-serif;
	font-size: 30px;
	color: rgba(255,255,255,0.7);
	background-color: rgb(30,30,30);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 1s;
}

.disable-scroll {
	overflow-y: hidden
}

#profile-box {
	width: 250px;
	height: 90px;
	position: absolute;
	right: 0;
	top: 20px;
	border-right: solid 5px rgba(10,10,10,0.7);
	background-image: linear-gradient(to left, rgba(20,20,20,0.5), transparent);
	transition: 1s
}
#profile-box:hover {
	filter: brightness(120%)
}

#profile-tag {
	width: 250px;
	height: 60px;
	background-image: linear-gradient(to left, rgba(15,15,15,0.4), transparent);
	position: inherit;
	right: 0;
	overflow: hidden;
}

#profile-image {
	width: 70px;
	height: 70px;
	right: 0;
	position: absolute;
	border-radius: 50%;
	margin-top: 5px;
	margin-right: 5px;
	cursor: pointer;
	transition: 0.5s;
	filter: brightness(80%);
}
#profile-image-box {
	text-decoration: none;
	color: transparent;
	font-family: Helvetica;
	font-size: 10px;
	font-weight: 900;
	right: 0;
	margin-top: 33px;
	margin-right: 20px;
	position: absolute;
	transition: color 0.5s;
	pointer-events: none;
}

#profile-username {
	font-family: Helvetica;
	color: rgba(200,200,200,0.7);
	user-select: none;
	font-size: 20px;
	font-weight: 500;
	position: inherit;
	right: 80px;
}
#profile-discr {
	font-family: Helvetica;
	font-weight: 800;
	font-size: 50px;
	position: absolute;
	bottom: 0;
	left: 5px;
	margin-bottom: 5px;
	color: rgba(200,200,200,0.1);
	user-select: none;
	background: linear-gradient(to right, rgba(200,200,200,0.01), rgba(200,200,200,0.1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.logged-in {
	cursor: none;
	pointer-events: none;
}
