@font-face {
	font-family: smooth;
	font-weight: normal;
	src: url('fonts/Normal.woff') format('WOFF');
}
@font-face {
	font-family: smooth;
	font-weight: bold;
	src: url('fonts/Bold.woff') format('WOFF');
}

#overlay {
	width: 100%;
	height: 100%;
	z-index: 10;
	font-family: sans-serif;
	font-size: 60px;
	color: rgba(255,255,255,0.7);
	background-color: rgb(30,30,30);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 1s;
}

.disable-scroll {
	overflow-y: hidden
}

#menu {
	left: 0;
	top: 0;
	bottom: 0;
	border-right: solid 10px rgba(20,20,20,0.3);
	z-index: 1;
	background-color: rgba(5,5,5,0.5);
	width: 80%;
	position: fixed;
}

#menu-sidebar {
	top: 0;
	bottom: 0;
	width: 20vw;
	right: -20vw;
	position: absolute;
}

.menu-drag {
	transition: transform 0.5s
}

#desc {
	font-family: sans-serif;
  font-size: 25px;
	color: rgb(240,240,240);
	padding-left: 190px;
	width: 600px
}

.menu-shrink {

}

#milim-profile {
	width: 350px;
	padding-top: 20px;
	margin-left: 20px;
	position: relative;
}

@keyframes avatarFloat {
	from {
		transform: translateY(1px)
	}
	to {
		transform: translateY(-5px)
	}
}

#avatar {
	width: 150px;
	animation: avatarFloat 4s alternate infinite ease-in-out;
	border-radius: 50%;
}

#milim-name {
	font-family: smooth;
	font-size: 80px;
	color: #e36c5f;
	text-shadow: 0px 0px 8px #ff8c80;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	position: absolute;
	margin-top: 28px;
	margin-left: 20px;
}

#profile-box {
	left: 0;
	right: 0;
	height: 160px;
	position: relative;
	border-right: solid 5px rgba(10,10,10,0.7);
	background-image: linear-gradient(to left, rgba(20,20,20,0.5), transparent);
}

#profile-tag {
	width: 450px;
	height: 100px;
	background-image: linear-gradient(to left, transparent, rgba(15,15,15,0.4));
	position: absolute;
	display: inline-block;
	bottom: 0;
	margin-bottom: 20px;
}
#profile-username {
	font-family: Helvetica;
	color: rgba(200,200,200,0.7);
	user-select: none;
	font-size: 45px;
	font-weight: 500;
	margin-left: 160px;
}

#profile-image {
	width: 120px;
	height: 120px;
	right: 0;
	border-radius: 50%;
	filter: brightness(50%)
}
#profile-image-text {
	text-decoration: none;
	font-family: Helvetica;
	font-size: 18px;
	font-weight: 900;
	height: 70px;
	width: 120px;
	margin-top: 0;
	margin-bottom: 0;
	color: rgba(255,255,255,0.8);
	bottom: 0;
	pointer-events: none;
	position: absolute;
	text-align: center;
}
#profile-image-box {
	position: absolute;
	height: 120px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
}

#profile-discr {
	font-family: Helvetica;
	font-weight: 800;
	font-size: 85px;
	color: rgba(200,200,200,0.2);
	user-select: none;
	display: inline-block;
	width: 300px;
	margin-left: 160px;
	margin-top: 20px;
	margin-bottom: 0;
	background: linear-gradient(to right, rgba(200,200,200,0.03), rgba(200,200,200,0.3));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
