@font-face {
	font-family: pixel;
	font-weight: normal;
	src: url('fonts/pixel.ttf') format('truetype');
}
@font-face {
	font-family: pixel;
	font-weight: bold;
	src: url('fonts/pixelb.ttf') format('truetype');
}

#snek-holder {
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
	align-items: center;
	justify-content: center;
}

.snek-hide {
  display: none !important;
}

#snek-frame {
  width: 690px;
  height: 550px;
  background-color: rgba(120,120,130,0.9);
}

@keyframes tvlines {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 3px;
  }
}

.sprite {
  display: none;
}

#tvlines {
  position: absolute;
  width: 690px;
  height: 550px;
  background: repeating-linear-gradient(
    0deg,
    rgba(0,0,0,.3) 1px,
    transparent 2px
  );
  animation: tvlines 0.1s infinite linear forwards;
	pointer-events: none;
}

@keyframes filt {
  10% {
    transform: translate(-50px, 50px)
  }
  20% {
    transform: translate(-80px, 20px)
  }
  30% {
    transform: translate(50px, -20px)
  }
  40% {
    transform: translate(20px, 50px)
  }
  50% {
    transform: translate(-70px, 30px)
  }
  60% {
    transform: translate(10px, -80px)
  }
  70% {
    transform: translate(0px, 40px)
  }
  80% {
    transform: translate(5px, -10px)
  }
  90% {
    transform: translate(90px, 0px)
  }
  100% {
    transform: translate(60px, 70px)
  }
}

#snek-filter {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  animation: filt 1s infinite;
	pointer-events: none;
}

#snek-header {
  width: 690px;
  height: 70px;
  background-color: rgba(20,20,20,0.5);
}

#snek-header-text {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: pixel;
  width: 145px;
  font-size: 40px;
  outline: 5px solid pink;
  letter-spacing: 3px;
}

#snek-score-text {
  color: white;
  font-family: pixel;
  font-size: 20px;
  padding-left: 10px;
  display: inline;
}

#snek-speed-text {
  color: white;
  font-family: pixel;
  font-size: 20px;
  padding-right: 10px;
  display: inline;
  float: right;
}

#snek-score {
  color: white;
  display: inline;
  font-family: pixel;
  font-size: 20px;
  margin-left: 10px;
}

#snek-speed {
  color: white;
  display: inline;
  font-family: pixel;
  font-size: 20px;
  float: right;
  margin-right: 10px;
}

#score-display-box {
  width: 690px;
  height: 480px;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
}

#score-display-text {
  text-align: center;
  font-family: pixel;
  font-size: 30px;
  color: white;
	margin-bottom: 5px;
}

#score-display {
  text-align: center;
  font-family: pixel;
  font-size: 50px;
  color: rgb(210,80,220);
	margin-top: 5px;
}

#press-enter {
	text-align: center;
  font-family: pixel;
  font-size: 50px;
	background-color: rgba(200,200,200,.8)
}

#snek-helper-box {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}

#snek-helper-image {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#snek-helper-text {
	text-align: center;
  font-family: pixel;
	font-size: 25px;
	color: white;
	margin-bottom: 10px;
}

#trigger-button {
	width: 100px;
	height: 100px;
	top: 0;
	background-color: red;
	position: absolute;
}

#trigger-button:hover {
	background-color: green;
}

#love svg {
	transition: fill .5s;
}

#love svg:hover {
	fill: rgb(200,150,200);
	transition: fill .5s;
}

#snek-close {
	float: right;
	width: 30px;
	margin-top: 5px;
	margin-right: 5px;
}

#snek-close:hover {
	filter: brightness(1.2);
	cursor: pointer;
}
