@keyframes rotateBlock {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

@font-face {
  font-family: 'Minecraftia';
  src: url('../fonts/MinecraftiaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

button,
button:focus {
  border: none;
  outline: none
}

#darken,
#container-blocks,
#border-shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.block {
  width: 90px;
  height: 90px;
  position: fixed;
  top: -90px;
  z-index: -2;
}
.block-img {
  width: 90px;
  opacity: 0.8;
}

#darken {
  z-index: -1;
  background-color: rgba(10,10,10,0.3)
}
#container-blocks {
  z-index: -2;
}
#border-shadow {
  box-shadow: inset 0 0 80px 40px black, 0 0 0 100px black;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  height: 100%;
}

#container-mc {
  width: 700px;
  height: 1000px;
  overflow: hidden;
  border: 10px solid rgba(10,10,10,0.8);
  background-image: url('../images/dirt.jpg');
  background-size: cover;
}

#image {
  width: 350px;
  border: 5px solid rgba(10,10,10,0.7);
  margin-top: 15px;
  margin-left: 20px;
}

#info {
  padding-top: 15px;
  padding-left: 15px;
  width: 100%;
}

#title {
  font-size: 40px;
  width: 70%;
}

#desc {
  width: 100%;
  font-size: 30px;
  background-color: rgba(20,20,20,0.5);
}

#players {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 30px;
  margin-right: 10px;
  margin-bottom: 5px;
}

#footer {
  width: 100%;
  height: 50px;
}

#address {
  padding-left: 20px;
  font-size: 30px;
  display: inline;
}

p,
#players,
#btn-copy {
  font-family: Minecraftia;
  color: white;
}

#container-ping {
  height: 100%;
  position: relative;
  float: right;
  width: 150px;
}
#ping {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 10px;
  height: 100px;
}
#pingMs {
  font-size: 25px;
  color: white;
  position: absolute;
  top: 100px;
  right: 20px;
  font-family: Minecraftia
}

#btn-copy {
  transform: translateY(-2px);
  border-radius: 1px;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  border-top: solid 2px grey;
  border-left: solid 2px grey;
  width: 150px;
  height: 70px;
  background-image: url('../images/stone.jpg');
  background-size: 200px;
  font-size: 30px;
  color: rgb(50,230,50);
  cursor: copy;
}
#btn-copy:active {
  color: lightgreen;
  filter: brightness(1.1);
}
button,
button:focus {
  border: none;
  outline: none;
}
